.buildingTable {
  background-color: white;
  border: solid #C5926F 1.5px;
  height: 80vh;
  width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
}

.table {
  width: 90%;
  height: 90%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #C5926F;
  padding: 4px;
  text-align: center;
  font-size: large;
}

.callBtn {
  width: 120px;
  height: 22px;
  border-radius: 5px;
  text-align: center;
}
/* button style when clicked */
.buttonClicked {
  background-color: yellow;
  color: white;
}

.elevatorIndicatorCell {
  text-align: center;
}
