.pannel {
  background-color: white;
  border: solid #C5926F 1.5px;
  height: 60vh;
  width: 28vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}

.btnContainer {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statusContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.indicator {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 900;

  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 10px;
  border: solid #C5926F 3px;
  font-size: 3vh;
  cursor: pointer;
  transition-duration: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}


